header {
    margin-top: 30%;
    flex-direction: column;
}

h1 span {
    color: crimson;
}

footer p {
    color: grey;
}

footer p a {
    color: rgb(56, 56, 56);
}

footer p a:hover,
footer p a:active,
footer p a:visited {
    color: black;
}

.search-box {
    width: 100%;
}

.search-field {
    height: 50px;
}

.search-button {
    width: 50px;
}

@media screen and (min-width: 768px) {
    header {
        margin-top: 20%;
    }

    .search-box {
        width: 80%;
    }
}

@media screen and (min-width: 1080px) {
    header {
        margin-top: 10%;
    }

    .search-box {
        width: 60%;
    }
}
