:root {
    --font: sans-serif;
}

header {
    flex-direction: column;
}

h1 span {
    color: crimson;
}

footer p {
    color: grey;
}

footer p a {
    color: rgb(56, 56, 56);
}

footer p a:hover,
footer p a:active,
footer p a:visited {
    color: black;
}

.search-box {
    width: 50%;
}

.search-field {
    height: 50px;
}

.search-button {
    width: 50px;
}
