:root {
    --font: Ubuntu, sans-serif;
    --mobile-width: 100%;
    --tablet-width: 80%;
    --desktop-width: 40%;
}

body {
    font-family: var(--font);
}

body,
header {
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 30%;
    align-items: center;
    align-self: center;
}

header a {
    margin: 0;
    padding: 0;
}

header a img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

header p {
    color: #666;
}

header p a,
.search-result {
    text-decoration: none;
    color: #333;
}

header p a:hover,
header p a:active,
header p a:visited,
.search-result:hover,
.search-result:active,
.search-result:visited {
    text-decoration: none;
    color: black;
}

header p img {
    width: 16px;
}

h1 span {
    color: crimson;
}

main {
    margin: 1.5rem;
}

footer {
    align-self: center;
    text-align: center;
    padding-bottom: 40px;
}

footer address {
    text-align: center;
}

.logo {
    margin: 1rem;
    font-size: 0px;
    border-radius: 50%;
}

.reading-width {
    width: var(--mobile-width);
    margin: auto;
}

.search-field {
    height: 36px;
}

.search-button {
    width: 50px;
    justify-content: center;
}

.result-entry {
    margin: 48px auto;
}

@media screen and (min-width: 768px) {
    header {
        margin-top: 10%;
    }

    .reading-width {
        width: var(--tablet-width);
    }
}

@media screen and (min-width: 1080px) {
    header {
        margin-top: 5%;
    }

    .reading-width {
        width: var(--desktop-width);
    }
}
