:root {
    --font: Ubuntu, sans-serif;
    --content-width: 100%;
}

body {
    font-family: var(--font);
}

body,
header {
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 30%;
    align-items: center;
    align-self: center;
}

header a {
    margin: 0;
    padding: 0;
}

header a img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

header p {
    color: #646464;
}

header p a {
    color: rgb(56, 56, 56);
}

header p a:hover,
header p a:active,
header p a:visited {
    color: black;
}

header p img {
    width: 16px;
}

h1 span {
    color: crimson;
}

main {
    margin: 1.5rem;
}

footer {
    align-self: center;
}

footer address {
    text-align: center;
}

.logo {
    margin: 1rem;
    font-size: 0px;
    border-radius: 50%;
}

.search-box,
#qotd {
    width: 100%;
    margin: auto;
}

.search-field {
    height: 36px;
}

.search-button {
    width: 50px;
    justify-content: center;
}

#qotd {
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    header {
        margin-top: 10%;
    }

    .search-box,
    #qotd {
        width: 80%;
    }
}

@media screen and (min-width: 1080px) {
    header {
        margin-top: 5%;
    }

    .search-box,
    #qotd {
        width: 40%;
    }
}
